/* forming the body of the site with a picture for background */
body{
    background-image:url(background1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

/* formating the header to be equal for different sizes */
#header{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:10%;
}
/* formating header ul items to be displayed inline */
#header ul{
    display:inline-block;
    padding: 0;
}
/* formating header ul li items to be displayed inline */
#header ul li{
    display:inline-block;
    padding: 0;
    color: white;
    text-decoration: none;
}
/* formating beer div section with background image border and sizes for different widhts*/
#beer{
    background-image:url(background2.png);
    background-repeat: no-repeat;
    background-size: cover;

    border: 3px solid darkgoldenrod;
    border-radius: 25px;
    height: 50%;
    width: 20%;
    float:left;
    margin:0 0 8% 2%;
    color: white;

}
/* formating beer paragraphs */
#beer p{
    padding: 0 0 0 20px;
    font-size: 20px;

}
/* formating beer uls to float left and adding padding */
#beer ul{
    float: left;
    padding: 0px 0px 15px 20px ;


}
/* formating size of beer images */
#beer img{
    widht: 85px;
    height: 75px;
}
/* formating beer articles to be lower than usual */
#beer-descriptions article{
    margin-top:55%;
}
/* creating a section for the map and formating it to fit in the middle */
#map{
    width:40%;
    height:400px;
    float:left;
    padding-left: 5px;
    margin-top: 1%;
    margin-left: 7%;
}
/* enlarging the map to fit expectations */
#map img {
    width: 110%;
}
/* formating bars section to fit the page and adding backround image */
#bars{
    width:20%;
    height:50%;
    float: right;
    background-image:url(background2.png);
    border: 3px solid darkgoldenrod;
    border-radius: 25px;
    padding: 0px 0px 15px 0px;
    margin-right: 2%;
}
/* formating bar images */
#bars img{
    padding-left: 30px;
    width: 85px;
    height: 75px;


}
/* formating bar paragraph to fit expectations */
#bars p{
    padding: 0 0 0 25px;
    font-size: 20px;
    color: white;

}
/* formating the logo to be always in the middle */
#logo{
    margin-top: 2%;
    width: 15%;
    display: inline-block;
    margin-left: 43%;
    margin-right: auto;
    margin-bottom: 3%;
}
/* format share button to be on top left corner */
#share{
    float: right;
    margin-right: 5%;
    margin-top: 3%;
}

/* formating the web page for full hd */

@media screen and (min-width: 1700px) {

    #beer{
        margin-left: 3%;
        padding-left: 1%;

    }
    #beer img{
        padding-top: 1%;
    }

    #bars{
        height: 90%;
        width: 20%;
        margin-right: 5%;

    }

    #bars img{
        padding-left: 18%;
        padding-top: 1%;
    }

    #map{
        margin-top: 1%;
        margin-left: 5%;

    }

    #map img {
        width: 92%;
    }

    #share{
        float: right;
        margin-right: 5%;
        margin-top: 3%;
    }

    #beer-descriptions article {
        margin-top: 0%;
        padding-top: 54%;

    }
    #bars p{
        padding: 0 0 4% 18%;
    }
    #beer p{
        padding: 0 0 0 5%;
    }


}
