/*Changing the background of the page*/
body {
	background-size:cover;
	background-image:url(black.jpg);
	background-repeat: no-repeat;
}

/*Centering the content of the page*/
#wrapper{
	margin-left: 25%;
	margin-right: 25%;
	padding-bottom: 15%;
	margin-top: 5%;
}

/*Centering the logo*/
img {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Formatting the text of teh page*/
#text1{
	margin: 48px 0px 32px 32px;
	font-family:"Helvetica", Arial, sans-serif;
	color: white;
	font-size: 24px;
}

/*Leaving some space between the logo and the warning message*/
#warning{
	margin-top: 3%;
	text-align: center;
}

/*Styling and positioning the "Enter" button*/
#enter_button {
	border: 2px solid;
	border-radius:25px;
	margin-right:14%;
	margin-left:3%;
	background-image:url(green1.jpg);
}

/*Styling and positioning the "Exit" button*/
#exit_button {
	border: 2px solid;
	background-image:url('red.jpg');
	border-radius:25px;
	margin-left:3%;
}

/*Formatting the section for the buttons*/
#menu{
	background-repeat:no-repeat;
	display:block;
	float:left;
	clear:both;
	width:100%;
	height:20%;
	margin:50px 0px 14px 35px;
	padding:0;
}

#menu ul{
	list-style:none;
	padding:0;
	margin:0;
	line-height:30px;
}

#menu  li{
	list-style:none;
	padding:0;
	position:relative;
	float:left;

}

/*Formatting the text inside the buttons*/
#menu ul li a{
	text-align:center;
	font-family:Arial;
	text-decoration:none;
	width:170px;
	display:block;
	color:#aeaeae;
	font-size:130%;
	font-weight:bold;
	padding:10px 30px 10px 30px;
	border:0px solid #000;
}

#menu ul ul{
	position:absolute;
	visibility:hidden;
	top:50px;
}

/*Changing the "Exit" button's style when it's hovered*/
#exit_button a:hover{
	font-family:Arial;
	color:black;
	border-radius:23px;
	text-decoration:none;
	background-size: 100%;
	background-image:url(lemon2.jpg);
}

/*Changing the "Enter" button's style when it's hovered*/
#enter_button a:hover{
	font-family:Arial;
	color:black;
	border-radius:23px;
	text-decoration:none;
	background-size: 100%;
	background-image:url(hmel.jpg);
}

/*Centering the page for bigger screen resolutions*/
@media screen and (min-width: 1700px) {

	#enter_button{
		margin-left: 15%;
	}

	#exit_button{
		margin-right: auto;
		margin-left: auto;
	}

}

